.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4px;
  width: fit-content;

  .label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    cursor: pointer;
    color: var(--color-background-accent);

    &.switch {
      display: inline-block;
      height: 24px;
      position: relative;
      width: 70px;
      transition: all .3s ease-in-out;

      &.checked{
        width: 50px;
      }

      .input {
        display:none;
      }
      
      .slider {
        background-color: #ccc;
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: .5s ease-in-out;
      }
      
      .slider:before {
        background-color: #fff;
        bottom: 2px;
        content: "";
        height: 20px;
        left: 4px;
        position: absolute;
        transition: .5s ease-in-out;
        width: 20px;
      }
      
      .input{
        &:checked + .slider {
          background-color: $baseGreen;
          z-index: 10;
          &.round{
            label {
              visibility: hidden;
              transition: all .2s ease-in-out;
            }
          }
        }
      }
      
      .input{
        &:checked + .slider:before {
          transform: translateX(23px);
        }
      }
      
      .slider{
        &.round {
          border-radius: 24px;
          text-align: right;
          padding-right: 12px;
          label{
            font-size: 10px;
          }
        }
      }
      
      .slider {
        &.round{
          &:before {
            border-radius: 50%;
          }
        }
      }
    }
  }

  .input {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border: 1px solid var(--color-background-base);
    border-radius: 8px;
    outline: none;
    cursor: pointer;

    &:hover {
      border: 1px solid $darkAccent;
    }

    &:checked {
      border: 1px solid $darkAccent;
      position: relative;

      &::before {
        position: absolute;
        left: calc(50% - (16px/2));
        top: calc(50% - (18.5px/2));
      }
    }
    &.light{
      &:checked {
        &::before {
          content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='16px' height='16px' viewBox='0 0 50 50' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline points='8 29.312 21.921 41.348 42 10.652' fill='none' stroke='%232f2f2f' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='4'/%3E%3C/svg%3E%0A");
        }
      }
    }
    &.dark{
      &:checked{
        &::before{
          content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='16px' height='16px' viewBox='0 0 50 50' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline points='8 29.312 21.921 41.348 42 10.652' fill='none' stroke='%23e6e9ed' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='4'/%3E%3C/svg%3E%0A");
        }
      }
    }
  }
}
