$baseGreen: #11b052;
$baseGreenDark: #333333;
$baseRed: #EB5757;
$baseOrange: #F27523;
$baseBlue: #0374e4;

$lightBase: #ffffff;
$lightContrast: #e7e9ee;
$lightAccent: #E6E9ED;

$darkBase: #222222;
$darkAccent: #0C1F06;
$darkContrast: #4c4c4c;