@import '_reset.scss';
@import '_variables.scss';
@import '_cursor-mixins.scss';

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

h4 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

h5 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  font-size: 12px;
  margin-bottom: 10px;
}

label {
  font-size: 12px;
}