:root {
  --color-background-accent: #{$lightBase};
  --color-background-base: #{$lightAccent};
  --color-background-contrast: #{$lightContrast};

  --color-text-base: #{$darkBase};
  --color-text-accent: #{$darkAccent};
  --color-text-contrast: #{$darkContrast};

  --color-text-rev-base: #{$lightBase};
  --color-text-rev-accent: #{$lightAccent};
  --color-red: #{$baseRed};
  --loading-skeleton: #{$loadingLight};
}

[data-theme='dark'] {
  --color-background-accent: #{$lightBase};
  --color-background-base: #{$lightAccent};
  --color-background-contrast: #{$lightContrast};

  --color-text-base: #{$darkBase};
  --color-text-accent: #{$darkAccent};
  --color-text-contrast: #{$darkContrast};

  --color-text-rev-base: #{$lightBase};
  --color-text-rev-accent: #{$lightAccent};
  --color-red: #{$baseRed};
  --loading-skeleton: #{$loadingDark};
}

[data-theme='light'] {
  --color-background-accent: #{$darkAccent};
  --color-background-base: #{$darkBase};
  --color-background-contrast: #{$darkContrast};

  --color-text-base: #{$lightBase};
  --color-text-accent: #{$lightAccent};
  --color-text-contrast: #{$lightContrast};

  --color-text-rev-base: #{$darkBase};
  --color-text-rev-accent: #{$darkAccent};

  --color-red: #{$baseRed};
  --loading-skeleton: #{$loadingLight};
}

body {
  background-color: var(--color-text-base);
  color: var(--color-background-base);
  transition: all 0.2s ease-in-out;
}
