$baseGreen: #11b052;
$baseGreenDark: #22341d;
$baseRed: #eb5757;
$baseOrange: #f27523;
$baseBlue: #0374e4;

$lightBase: #ffffff;
$lightContrast: #e7e9ee;
$lightAccent: #e6e9ed;
$lightBeige: #f0ede6;

$darkBase: #222222;
$darkAccent: #2f2f2f;
$darkContrast: #4c4c4c;
$darkText: #333333;

$loadingDark: linear-gradient(to right, #4b4b4b, #575555, #4b4b4b);
$loadingLight: linear-gradient(to right, #bcbcbc, #d7d6d6, #bcbcbc);
