.button {
  width: 280px;
  height: 40px;
  padding: 13px;
  border: 1px solid $lightAccent;
  color: $darkAccent;
  border-radius: 8px;
  font-size: 12px;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 10px;

  &.center {
    justify-content: center;
  }

  &:disabled {
    background-color: $lightAccent;
    color: $darkAccent;
    border: 1px solid $lightAccent;
    cursor: not-allowed;
  }
}
