.table-container {
  max-height: 90%;
  overflow: scroll;
  border-radius: 10px;
}

.table {
  min-width: 100%;
  border-collapse: separate;
  background-color: var(--color-text-base);
  border-radius: 10px;

  .header {
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 2;

    th {
      vertical-align: middle;
      font-weight: bold;
      min-width: 150px;
      border-bottom: 1px solid $lightContrast;
      background-color: var(--color-text-base);
      color: var(--color-background-accent);
    }
  }

  .body {
    text-align: center;

    td {
      height: 80px;
      vertical-align: middle;
      text-align: center;
      color: var(--color-background-accent);
      font-weight: 500;
    }
  }
}
