.language-list {
  display: flex;
  gap: 1rem;
  align-items: center;

  & .language-container {
    padding: 9px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: #f7f7f7;
    }
  
    &.selected {
      border: 1px solid $darkBase;
    }
  }
}