.table {
  border-radius: 15px;
  min-width: 100%;
  border-collapse: collapse;
  overflow: scroll;
  max-height: 500px;
  display: block;

  .header {
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 2;

    th {
      border-bottom: 1px solid $lightContrast;
      vertical-align: middle;
      font-weight: bold;
      min-width: 150px;
    }
  }

  .body {
    text-align: center;

    td {
      height: 80px;
      vertical-align: middle;
      text-align: center;
    }
  }
}