
.container {
border-spacing: 1; 
  border-collapse: collapse; 
  background:white; 
  border: solid 0.5px ;
  border-radius:8px;
 max-width:90%; 
  width:100%;
 position:relative;
 display: flex;
 justify-content: center;
}